<%= form_with(model: meal_plan) do |form| %>
  <% if meal_plan.errors.any? %>
    <div id="error_explanation">
      <h2>There <%= meal_plan.errors.count == 1 ? "is" : "are" %> <%= pluralize(meal_plan.errors.count, "problem") %> with your plan:</h2>

      <ul>
        <% meal_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">
        <%= form.label :start_date %>
      </span>
    </div>
    <%= form.date_select :start_date, { order: [:day, :month, :year] }, { class: "form-control" } %>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">
        <%= form.label :end_date %>
      </span>
    </div>
    <%= form.date_select :end_date, { order: [:day, :month, :year], default: Date.today + 6 }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :meals %>
    <%= form.select :meal_ids,
      options_from_collection_for_select(Meal.all, :id, :name, @meal_plan.meal_ids),
      { :include_hidden => false }, { :multiple => true }
    %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
