<p id="notice"><%= notice %></p>

<h1>This Week We Shall Mostly Be Eating</h1>

<% if @current_meal_plan.nil? %>
  <p>Nothing :(</p>
<% else %>
  <ul>
    <% @current_meal_plan.meal_plan_meals.each do |plan_meal| %>
      <li><%= plan_meal.meal.name %>
      <input type="checkbox" data-controller="checkbox" data-action="checkbox#toggle" data-checkbox-target="value"
          <% if plan_meal.eaten %>
            checked
          <% end %>
        >
      </li>
    <% end %>
  </ul>
<% end %>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_plans.each do |meal_plan| %>
      <tr>
        <td><%= meal_plan.start_date %></td>
        <td><%= meal_plan.end_date %></td>
        <td><%= link_to 'Show', meal_plan %></td>
        <td><%= link_to 'Edit', edit_meal_plan_path(meal_plan) %></td>
        <td><%= link_to 'Destroy', meal_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal Plan', new_meal_plan_path %>
