<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @meal_plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @meal_plan.end_date %>
</p>

<div>
  <strong>Meals:</strong>
  <% if @meal_plan.meals.empty? %>
    <p> Going to be hungry this week :( </p>
    <%= link_to 'Why not add something to eat!', edit_meal_plan_path(@meal_plan) %>
  <% else %>
  <ul>
    <% @meal_plan.meals.each do |meal| %>
      <li> <%= link_to meal.name, meal_path(meal) %> </li>
    <% end %>
  </ul>
  <% end %>
<div>

<%= link_to 'Edit', edit_meal_plan_path(@meal_plan) %> |
<%= link_to 'Back', meal_plans_path %>
