<%= form_with(model: meal) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :recipe_book %>
    <%= form.select :recipe_book_id, RecipeBook.all.collect { |b| [ b.name, b.id ] }, { include_blank: "None" } %>
  </div>

  <div class="field">
    <%= form.label :page_number %>
    <%= form.text_field :page_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
