<%= form_with(model: recipe_book) do |form| %>
  <% if recipe_book.errors.any? %>
    <div id="error_explanation">
      <ul class="alert alert-danger">
        <% recipe_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="mb-3">
    <div class="field">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </fieldset>

  <fieldset class="mb-3">
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
